@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
.modal-dialog {
    position: fixed;
    width: 100%;
    margin: 0px;
    pointer-events: none;
    height: 100%;
    background: white;
    border: none;
}

body{
    font-family: Montserrat;
    font-weight:200;
    font-size: 110%;
}

.modal-body p{
    font-weight: 400;
}

.modal-body h3{
    font-weight: bold;
}

.modal-body h5{
    font-weight: 600;
}


.resultp{
    font-size: 125%;
    margin-top: 30px;
    font-weight: 500;
    
}


/* .modal-dialog2 {
    position:relative;
    width: 100%;
    margin: 0px;
    pointer-events: none;
    height: auto;
    background: white;
    border: none;
} */



.modal-header{
    background-color: rgb(228, 228, 228);
}

.modal-content{
    height: 100%;
}

.questionare .image{
    width: 100%;
    margin-top: 50px;
}
.questionare .buttons{
    width: 100%;
    display: block;
    bottom: 60px;
    margin-top: 90px;

}

.questionare .row{
    display: none;
}


.questionare .active{
    display: block;
}



